@{
    ViewBag.Title = "Upload1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="@Href("~/Content/uploadify.css")" rel="stylesheet" />
<script src="@Href("~/Scripts/jquery-1.4.1.js")" type="text/javascript"></script>
<script src="@Href("~/Scripts/jquery.uploadify.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(window).load(
    function () {
        $("#fileuploader").fileUpload({
            'uploader': '/Scripts/uploader.swf',
            'cancelImg': 'Content/Images/cancel.png',
            'buttonText': 'Select Image',
            'script': 'Home/Upload1',
            'folder': '/uploads',
            'fileDesc': 'Image Files',
            'fileExt': '*.jpg;*.jpeg;*.gif;*.png;*.docx;*.pdf;*zip',
            'multi': true,
            'auto': true
        });
    }
);
</script>

<div id="fileuploader"></div>*@

<script type="text/javascript"> 
   $(function () {  
         //is the file api available in this browser      
           //only override *if* available.     
              if (new XMLHttpRequest().upload) {    
                      $("#upload-files").click(function () {
                                      //upload files using the api   
                                     //The files property is available from the 
                          //input DOM object
                          upload_files($("#files-to-upload")[0].files);
                          return false;
                      });
                  } 
              });
              //accepts the input.files parameter
              function upload_files(filelist) {
                  if (typeof filelist !== "undefined") {
                      for (var i = 0, l = filelist.length; i < l; i++) {
                          upload_file(filelist[i]);
                      } 
                  } 
              } 
                            //each file upload produces a unique POST  
                  function upload_file(file) {   
                       xhr = new XMLHttpRequest(); 
                              xhr.upload.addEventListener("progress", function (evt) {    
                                      if (evt.lengthComputable) { 
                                    //update the progress bar 
                                          $(".progress-bar").css({ width: (evt.loaded / evt.total) * 100 + "%" }); 
                                     
                                   
                                   
                                        }        }, false); 
                                               // File uploaded  
                                                     xhr.addEventListener("load", function () {
                                                                 $(".progress-bar").html("Uploaded");   
                                                                          $(".progress-bar").css({ backgroundColor: "#fff" }); 
                                                                                 }, false);  
                                                                                       xhr.open("post", "home/uploadfile", true);  
                                                  // Set appropriate headers   
                                                 // We're going to use these in the UploadFile method 
                                                 
                                                        // To determine what is being uploaded.  
                                                              xhr.setRequestHeader("Content-Type", "multipart/form-data"); 
                                                                     xhr.setRequestHeader("X-File-Name", file.name); 
                                                                            xhr.setRequestHeader("X-File-Size", file.size);  
                                                                                  xhr.setRequestHeader("X-File-Type", file.type);
                                                                                  // Send the file        xhr.send(file);  
                                                                                            }</script>

@using (Html.BeginForm("upload1", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{   
     <input id="files-to-upload" type="file" multiple name="file" />  
      <input type='submit' id='upload-files' value=' Upload Files ' />
        <div class='progress-bar'>
        </div>}