<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Menus SYSTEM "menu.dtd">
<Menus>
  <Menu1>
    <Title>Thi Online</Title>
    <TitleEng>Test Online</TitleEng>
    <Link>/test</Link>
    <Roles>
      <Role>Lecturer</Role>
      <Role>Student</Role>
    </Roles>
  </Menu1>
  <Menu1>
    <Title>Thi Thử</Title>
    <TitleEng>Try Test</TitleEng>
    <Link>/TryTest</Link>
    <Roles>
      <Role>Admin</Role>
      <Role>Lecturer</Role>
      <Role>Student</Role>
    </Roles>
  </Menu1>
  <Menu1>
    <Title>Xem Điểm</Title>
    <TitleEng>View Mark</TitleEng>
    <Link>/Test</Link>
    <Roles>
      <Role>Admin</Role>
      <Role>Lecturer</Role>
      <Role>Student</Role>
    </Roles>
  </Menu1>
  <Menu1>
    <Title>Bài tập mẫu</Title>
    <TitleEng> Examination</TitleEng>
    <Link>/Problem</Link>
    <Roles>
      <Role>Admin</Role>
      <Role>Lecturer</Role>
      <Role>Student</Role>
      <Role>Guest</Role>
    </Roles>
  </Menu1>
  <Menu1>
    <Title>Ngân Hàng Đề Thi</Title>
    <TitleEng>Examination Bank</TitleEng>
    <Link></Link>
    <Roles>
      <Role>Admin</Role>
      <Role>Lecturer</Role>
    </Roles>
    <Menu2>
      <Title>soạn đề thi</Title>
      <TitleEng>Create Examination Bank</TitleEng>
      <Link>/ExamBank/Index</Link>
    </Menu2>
    <Menu2>
      <Title>Quản lý đề thi</Title>
      <TitleEng>Manage Examination Bank</TitleEng>
      <Link>/ExamBank/Index</Link>
    </Menu2>
  </Menu1>
  <Menu1>
    <Title>Quản Lý Thi Trực Tuyến</Title>
    <TitleEng>Manage Test Online</TitleEng>
    <Link></Link>
    <Roles>
      <Role>Admin</Role>
      <Role>Lecturer</Role>
    </Roles>
    <Menu2>
      <Title>Xem Thông Tin Thi Và Bảng Điểm</Title>
      <TitleEng>View Test Infomation</TitleEng>
      <Link>/ManageTest</Link>
    </Menu2>
  </Menu1>
  <Menu1>
    <Title>Quản lý người Dùng</Title>
    <TitleEng>Manage Users</TitleEng>
    <Link></Link>
    <Roles>
      <Role>Admin</Role>
    </Roles>
    <Menu2>
      <Title>Manage Roles</Title>
      <TitleEng>Manage Roles</TitleEng>
      <Link>/User/Index</Link>
    </Menu2>
    <Menu2>
      <Title>Tạo User</Title>
      <TitleEng>Create User</TitleEng>
      <Link>/Account/CreateUser</Link>
    </Menu2>
  </Menu1>
  
  <Menu1>
    <Title>Quản lý câu hỏi</Title>
    <TitleEng>Manage Question</TitleEng>
    <Link></Link>
    <Roles>
      <Role>Admin</Role>
    </Roles>
    <Menu2>
      <Title>Thêm câu hỏi</Title>
      <TitleEng>Add Question</TitleEng>
      <Link>/Problem/CreateProblem</Link>
    </Menu2>

    <Menu2>
      <Title>Cập nhật mức độ khó</Title>
      <TitleEng>Update Difficult Question Level</TitleEng>
      <Link>/ManageQuestion/UpdateQuesLevel</Link>
    </Menu2>

  </Menu1>

  <Menu1>
    <Title>Duyệt đề</Title>
    <TitleEng>Inspector</TitleEng>
    <Link>/Inspector/Index</Link>
    <Roles>
      <Role>Admin</Role>
      <Role>Lecturer</Role>
    </Roles>
  </Menu1>
</Menus>
