<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Menus SYSTEM "menu.dtd">
<Menus>
  <Menu1>
    <Title>Lớp Học</Title>
    <TitleEng>Class</TitleEng>
    <Link>/Class</Link>
    <Roles>
      <Role>Lecturer</Role>
      <Role>Student</Role>
      <Role>Admin</Role>
      <Role>Guest</Role>
    </Roles>
    <Menu2>
      <Title>Tất cả lớp học</Title>
      <TitleEng></TitleEng>
      <Link>/Class/Index</Link>
    </Menu2>
    <Menu2>
      <Title>Lớp học của bạn</Title>
      <TitleEng></TitleEng>
      <Link>/Class/MyClass</Link>
    </Menu2>
  </Menu1>
  <Menu1>
    <Title>Kỳ Thi</Title>
    <TitleEng>Contest</TitleEng>
    <Link>/Contest</Link>
    <Roles>
      <Role>Student</Role>
      <!--<Role>Lecturer</Role>
      <Role>Student</Role>
      <Role>Guest</Role>-->
    </Roles>
    <Menu2>
      <Title>Tất cả Kỳ Thi</Title>
      <TitleEng></TitleEng>
      <Link>/Contest/Index</Link>
    </Menu2>
    <Menu2>
      <Title>Kỳ Thi Của Bạn</Title>
      <TitleEng></TitleEng>
      <Link>/Contest/MyContest</Link>
    </Menu2>
  </Menu1>
    <Menu1>
    <Title>Luyện tập</Title>
    <TitleEng> Examination</TitleEng>
    <Link></Link>
    <Roles>
      <Role>Admin</Role>
      <Role>Lecturer</Role>
      <Role>Student</Role>
      <Role>Guest</Role>
    </Roles>
      <Menu2>
        <Title>Cơ sở lập trình 1</Title>
        <TitleEng>Programming 1</TitleEng>
        <Link>/Problem/Browse/1179011</Link>
        <!--dành cho môn cơ sở lập trình 1-->
      </Menu2>
  </Menu1>
  <Menu1>
    <Title>Kết Quả</Title>
    <TitleEng>Results</TitleEng>
    <Link></Link>
    <Roles>
      
      <Role>Student</Role>
    </Roles>
    <Menu2>
      <Title>Kết quả thi thử</Title>
      <TitleEng></TitleEng>
      <Link>/Result/TryTestAllResult</Link>
    </Menu2>
    <Menu2>
      <Title>Kết quả kỳ thi</Title>
      <TitleEng></TitleEng>
      <Link>/Result/ContestResult</Link>
    </Menu2>
  </Menu1>
  <Menu1>
    <Title>Xem Kết Quả</Title>
    <TitleEng>Results</TitleEng>
    <Link></Link>
    <Roles>
      
      <Role>Lecturer</Role>
    </Roles>
    <Menu2>
      <Title>Kết quả thi thử</Title>
      <TitleEng></TitleEng>
      <Link>/Result/LecturerViewProblem</Link>
    </Menu2>
   
  </Menu1>
  
  <Menu1>
    <Title>Quản lý lớp học</Title>
    <TitleEng>Manage Class</TitleEng>
    <Link></Link>
    <Roles>
      <Role>Admin</Role>
    </Roles>
    <Menu2>
      <Title>Thêm lớp học</Title>
      <TitleEng>addClass</TitleEng>
      <Link>/Class/CreateClass</Link>
    </Menu2>
    
  </Menu1>
  <Menu1>
    <Title>Quản lý môn học</Title>
    <TitleEng>Manage subject</TitleEng>
    <Link>/Subject/Index</Link>
    <Roles>
      <Role>Admin</Role>
    </Roles>
    <Menu2>
      <Title>Danh sách môn học</Title>
      <TitleEng>Subjects</TitleEng>
      <Link>/Subject</Link>
    </Menu2>
    <Menu2>
      <Title>Thêm môn học</Title>
      <TitleEng>Add Subject</TitleEng>
      <Link>/Subject/AddSubject</Link>
    </Menu2>
  </Menu1>
  <Menu1>
    <Title>Quản lý câu hỏi</Title>
    <TitleEng>Manage Question</TitleEng>
    <Link></Link>
    <Roles>
      <Role>Lecturer</Role>
    </Roles>
    <Menu2>
      <Title>Tất cả câu hỏi</Title>
      <TitleEng>All Problems</TitleEng>
      <Link>/Problem/AllProblemForUpDate</Link>
    </Menu2>
    <Menu2>
      <Title>Upload câu hỏi</Title>
      <TitleEng>Add Question</TitleEng>
      <Link>/UploadProblem/Upload</Link>
    </Menu2>
  </Menu1>
  <Menu1>
    <Title>THÔNG BÁO</Title>
    <TitleEng></TitleEng>
    <Link></Link>
    <Roles>
      <Role>Lecturer</Role>
      <Role>Admin</Role>
    </Roles>
    <Menu2>
      <Title>Tất cả thông báo</Title>
      <TitleEng>All Notification</TitleEng>
      <Link>/Notification/Index</Link>
    </Menu2>
    <Menu2>
      <Title>Thêm thông báo</Title>
      <TitleEng>Create Notification</TitleEng>
      <Link>/Notification/CreateNotification/0</Link>
    </Menu2>
  </Menu1>
  <!--<Menu1>s
    <Title>Quản Lý Kỳ Thi</Title>
    <TitleEng></TitleEng>
    <Link></Link>
    <Roles>
      <Role>Lecturer</Role>
    </Roles>
    <Menu2>
      <Title>Tạo Kỳ Thi</Title>
      <TitleEng>Manage Roles</TitleEng>
      <Link>/Contest/CreateContest</Link>
    </Menu2>
  </Menu1>-->
  <Menu1>
    <Title>Quản lý người Dùng</Title>
    <TitleEng>Manage Users</TitleEng>
    <Link></Link>
    <Roles>
      <Role>Admin</Role>
    </Roles>
    <Menu2>
      <Title>TẤT CẢ USER</Title>
      <TitleEng>Manage Roles</TitleEng>
      <Link>/Account/</Link>
    </Menu2>
    <Menu2>
      <Title>Tạo User</Title>
      <TitleEng>Create User</TitleEng>
      <Link>/Account/CreateUser</Link>
    </Menu2>
  </Menu1>
</Menus>
